{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}
    <ul>
      {% for listing in listings %}
        <li>
          <a href="{% url 'listing_details' listing.id %}">{{ listing.title }}</a>
          <p>{{ listing.description }}</p>
          <p>Current price: {{ listing.starting_bid }}</p>
          <img src="{{ listing.image.url }}" alt="Product image" width="250px" height="250px">
          <p></p>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no listings added.</p>
    {% endif %}
{% endblock %}