{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{ listing.title }}</h1>

<p>{{ listing.description }}</p>

<p>Current bid: {{ listing.starting_bid }}</p>

<img src="{{ listing.image.url }}" alt="Product image" width="250" height="250">

<form action="{% url 'watch_manager' %}?pk={{ listing.id }}" method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Add to Watchlist">
</form>

<form action="{% url 'bid' %}?pk={{ listing.id }}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" name="bid_value">
        <input class="btn btn-primary" type="submit" value="Bid">
    </div>
</form>
<p>{{ message }}</p>

<h2>Comments</h2>

{% if comments %}
    <ul>
        {% for comment in comments %}
        <li>{{ comment.author }} said: "{{ comment.text }}"</li>
        {% endfor %}
    </ul>
{% else %}
    <p>This listing has no comments yet.</p>
{% endif %}

<form action="{% url 'add_comment' %}?pk={{ listing.id }}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" name="comment_text">
        <input class="btn btn-primary" type="submit" value="Add Comment">
    </div>
</form>

{% endblock %}